
.game {
    background: url("https://res.cloudinary.com/dkd5jyhic/image/upload/v1601143553/Assets-Numeron/numeron-bg_mm5r8c.png") no-repeat;
    background-size: cover;
}

body {
    font-family: 'Russo One', sans-serif;
    color: white;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.displedflex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.game {
    background: url("https://res.cloudinary.com/dkd5jyhic/image/upload/v1601143552/Assets-Numeron/game-inside-bg_a3mgvz.png") no-repeat;
    background-size: cover;
}

#logo {
    width: 80%;
    height: 60%;
    margin-left: 9%;
    /* margin: auto; */
}

.playbutton {
    width: 180px;
    cursor: pointer;
    margin-left: -40%;
}
.Gameoverbutton,.backbutton{
    width: 300px;
    padding: 20px 20px;
    cursor: pointer;
    background-color: #EE2689;
    border-radius: 40px;
    margin-top: -80px;
}

#numbers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px ;
}

.number {
    background-color: white;
    color: black;
    width: 25vw;
    max-width: 200px;
    max-height: 200px;
    height: 25vw;
    border: 2px solid #EE2689;
}
#Guess{
    font-size: 40px;
}

#numbers {
    font-size: 4vw;
}

#buttons * {
    width: 25%;
    min-width: 120px;
    cursor: pointer;
}

#timer {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 10vh;
    right: 10vh;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 3px;
}

.gameover {
    width: 30%;
    max-width: 500px;
}

.score {
    font-size: 15px;
    border: 1px solid white;
    padding: 20px;
    width: 200px;
    text-align: center;
    margin-left: 40%;
    margin-top: 50px;
}


#buttons {
    display: flex;
    justify-content: space-evenly;
}
.playbutton{
    width: 200px;
    margin-left: 40%;
    }
.play{
    width: 300px;
    margin-top: 50px;
    margin-left: -50px;
}